<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>persona Edit</title>
</head>
<body>
  <!--formの％は全て消した状態で行うか？-->
    <h1>更新フォーム</h1>
    <form action="/update/<%= persona[0].id %>" method="POST">
        name <input type="text" name="name" value="<%= persona[0].name %>"><br>
        email <input type="text" name="email" value="<%= persona[0].email %>"><br>
        <button type="submit">更新</button>
    </form>
</body>
</html>
